/* * {
  margin: 0;
  padding: 0;
} */

.header {
  background-color: rgb(82, 82, 82);
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px 50px;
  text-align: center;
  
}

#headerTopLine {
background-color: aqua;
  margin: 0 auto;
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

#blah {

  /* border-top: 30px solid #CCCCCC; */
  /* float: left; */

}

#blah2 {
  /* float: right; */
}

.header h2 {
  display: inline;
  padding: 0px 70px;
}

.list-item {
  list-style-type: none;
  display: inline;
  padding: 5px;
}

.link {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.unordered-list {
  padding-left: 0px;
}

.link {
  font: bold 14px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #c47a35;
  padding: 5px 9px 5px 9px;
  border-top: 1px solid #CCCCCC;
  border-right: 3px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}